<!--page to display all houses-->
<div class="container" id="contents">
  <div class="row">
    <div class="col">
      <img src="src\assets\images\gotbackgrounds.jpg" height="100%" width="100%" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <div class="row" *ngIf="allHouses.length > 0">
    <!--if data exists-->
    <div *ngFor="let house of allHouses" class="col">
      <div class="card border-success mb-3 text-center" style="width: 18rem;">
        <div class="card-header">House</div>
        <div class="card-body">
          <h5 class="card-title" *ngIf="house.name; else noName">{{house.name}}</h5>
          <ng-template #noName>
            <h5 class="card-title">Anonymous</h5>
          </ng-template>
          <p class="card-text"></p>
        </div>
        <p class="list-group-item" *ngIf="house.region; else noRegion">Region: {{house.region}}</p>
        <ng-template #noRegion>
          <p class="list-group-item">Region: Unknown</p>
        </ng-template>

        <p class="list-group-item" *ngIf="house.words; else noWords">Words: {{house.words}}</p>
        <ng-template #noWords>
          <p class="list-group-item">Words: Unknown</p>
        </ng-template>
        <a href="#" class="btn btn-success" [routerLink]="['/houses',house.url]">Details</a>
      </div>

    </div>
    <!--End of col div and ngFor loop-->
  </div>
  <!--End of row and ngIf block-->
</div>
<!--End of container - #contents-->